.add {
  background-color: #FFFFFF;
  color: #2EAFE5BA;
  border: none;
  border-radius: 50%; /* Делаем кнопку круглой */
  width: 60px; /* Задаем ширину и высоту кнопки */
  height: 60px;
  font-size: 24px;
  cursor: pointer;
  display: flex; /* Размещаем иконку в центре кнопки */
  justify-content: center;
  align-items: center;
  float: right;
  transition: background-color 0.5s ease;
  margin: 1%;
}

.add:hover {
  background-color: rgba(44, 250, 34, 0.73); /* Цвет при наведении */
  color: #FFFFFF;
}

/*Форма*/
.form{
  padding-top: 25%;
}

.for-form{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  overflow: hidden;
  resize: none;
  border-radius: 5px;
  border-color: transparent;
  width: 100%;
  outline: none;
  font-size: 23px;
  margin-bottom: 3%;
}




/*Таблицы*/
.table{
  display: flex;
  padding-top: 1%;
}
.all_tasks, .completed, .in_progress{
  border-radius: 10px;
  padding: 1%;
  margin-left: 5%;
  height: 710px;
  width: 400px;
}

.in_progress{
    background: rgba(250, 125, 0, 0.73);
}


.all_tasks{
  background: #2EAFE5BA;
}

.completed{
  background: lightgreen;
}